@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.formContainer {
  background-image: url("../src/assets/img/fondo.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .tolink {
    text-decoration: none;
    margin-left: 5px;
    color: #406882;

    &:hover {
      text-decoration: underline;
    }
  }
  .err {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .errsearch {
    color: rgb(240, 84, 84);
    font-weight: bold;
  }

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #406882;
      font-weight: bold;
      font-size: 26px;
    }

    .title {
      color: #1e405a;
      font-size: 16px;
      font-weight: 500;
    }

    .titlecase {
      &:focus {
        text-transform: capitalize;
      }
    }

    .titlecase1 {
      text-transform: capitalize;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        width: 250px;
        padding: 15px;
        border: none;
        border-bottom: 1px solid #a7bcff;
        outline: none;

        &:focus {
          background: #edf1ff;
        }

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        cursor: pointer;
        border: none;
        background-color: #406882;
        color: white;
        padding: 10px;
        font-weight: bold;
        transition: all 0.2s ease;

        &:hover {
          background-color: #1e405a;
          color: white;
        }
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #7b96ec;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: #112432;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-image: url("../src/assets/img/fondo.jpg");
  background-size: cover;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border-radius: 10px;
    width: 70%;
    height: 85%;
    display: flex;
    overflow: hidden;

    @include tablet {
      width: 90%;
    }
  }

  .sidebar {
    flex: 1;
    background-color: #406882;
    position: relative;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #112432;
      height: 50px;
      padding: 10px;
      color: #ddddf7;

      .logo {
        font-weight: bold;

        @include tablet {
          display: none;
        }
      }

      .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        span {
          text-transform: capitalize;
        }

        button {
          color: white;
          background: #406882;
          border-radius: 5px;
          padding: 8px;
          transition: all 0.2s ease;
          font-size: 12px;
          font-weight: 500;

          &:hover {
            background: white;
            color: #406882;
          }
        }
      }

      img {
        border-color: #ddddf7;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        object-fit: cover;
      }

      button {
        border-color: #5d5b8d;
        color: #ddddf7;
        font-size: 10px;
        border: none;
        cursor: pointer;

        @include tablet {
          position: absolute;
          bottom: 10px;
        }
      }
    }

    .search {
      border-bottom: 3px solid rgb(205, 204, 228);

      .searchForm {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 40px;
        width: 100%;

        input {
          background-color: transparent;
          border: none;
          color: white;
          outline: none;
          width: 100%;
          height: 100%;
          padding-left: 15px;
          transition: background 0.2s ease;
          font-size: 14px;

          &:focus {
            background: #1e405a;
          }

          &::placeholder {
            color: lightgrey;
          }
        }
      }
    }

    .userChat {
      padding: 8px 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      cursor: pointer;
      margin-bottom: 5px;

      &:hover {
        background-color: #1a374d;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.43);
        -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.43);
        -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.43);
      }

      .userChatInfo {
        span {
          font-size: 15px;
          font-weight: 500;
        }
        p {
          margin-top: 1px;
          font-size: 14px;
          color: lightgray;
        }
      }
    }
  }
  .chat {
    flex: 2;

    .chatInfo {
      height: 50px;
      background-color: #1e405a;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      color: rgb(243, 243, 243);

      span {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 10px;
      }
    }

    .chatIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-right: 16px;

      svg {
        width: 22px;
        cursor: pointer;

        &:hover {
          color: #8da4f1;
        }
      }
    }

    .messages {
      background: rgb(205, 204, 228);
      background: linear-gradient(
        360deg,
        rgba(205, 204, 228, 1) 0%,
        rgba(221, 221, 247, 1) 3%
      );
      margin-bottom: 0px;
      padding: 10px;
      height: calc(100% - 160px);
      overflow: scroll;
      overflow-x: hidden;

      .message {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .messageInfo {
          display: flex;
          flex-direction: column;
          color: gray;
          font-weight: 300;

          span {
            font-size: 14px;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            background-color: white;
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
          }

          img {
            width: 50%;
            border-radius: 7px 0px 7px 7px;
          }
        }

        &.owner {
          flex-direction: row-reverse;

          .messageContent {
            align-items: flex-end;
            p {
              font-size: 14px;
              background-color: #406882;
              color: white;
              border-radius: 10px 0px 10px 10px;
            }
          }
        }
      }
    }

    .input {
      height: 50px;
      background-color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        width: 100%;
        border: none;
        outline: none;
        color: #1a374d;
        font-size: 18px;

        &::placeholder {
          color: lightgray;
        }
      }

      .send {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 24px;
          cursor: pointer;
          color: #7b96ec;

          &:hover {
            color: #1e405a;
          }
        }

        button {
          border: none;
          padding: 10px 15px;
          color: white;
          background-color: #1e405a;
          border-radius: 0px 0px 5px 0px;
          cursor: pointer;

          &:hover {
            background-color: #8da4f1;
            color: #1e405a;
          }
        }
      }
    }
  }
}
