@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin mintablet {
  @media screen and (max-width: 680px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 780px) {
    @content;
  }
}

@mixin minlaptop {
  @media screen and (max-width: 980px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.formContainer {
  background-image: url("../src/assets/img/fondo.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include mobile {
    height: 100vh;
    padding: 10px;
  }

  .pedro {
    background-color: white;
    margin-top: 20px;
    padding: 5px 110px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);

    @include mobile {
      margin: 0;
      height: 70px;
      background-color: transparent;
      width: 50px;
      border-radius: 15px;
      padding: 40px 40px;
      box-shadow: none;
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
    }

    a {
      font-size: 12px;
      text-decoration: none;
      color: #112432;
      font-weight: 500;
      padding: 8px;
      cursor: pointer;
      transition: all 0.2s ease;
      border-radius: 0px 0px 10px 10px;

      @include mobile {
        display: none;
      }
    }

    .github {
      background: #406882;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 50px;
      cursor: pointer;
      transition: all 0.2s ease;
      width: 160%;
      border-radius: 10px 10px 0px 0px;

      @include mobile {
        background: #fff;
        width: 140px;
        border-radius: 15px;
        padding: 10px 40px;
      }

      &:hover {
        background: #1e405a;
      }

      a {
        font-weight: 500;
        color: white;
        text-decoration: none;
        text-align: center;

        @include mobile {
          display: block;
          font-size: 16px;
          width: 100%;
          color: #1e405a;
        }
      }
    }
  }
  .tolink {
    text-decoration: none;
    margin-left: 5px;
    color: #406882;

    &:hover {
      text-decoration: underline;
    }
  }
  .err {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .err2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7b96ec;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .errsearch {
    color: rgb(240, 84, 84);
    font-weight: bold;
  }

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);

    @include mobile {
      width: 65%;
      border-radius: 0;
      gap: 0;
      height: 380px;
      padding-top: 50px;
      margin: 0;
    }

    .logo {
      color: #406882;
      font-weight: bold;
      font-size: 26px;
    }

    .title {
      color: #1e405a;
      font-size: 16px;
      font-weight: 500;
    }

    .titlecase {
      &:focus {
        text-transform: capitalize;
      }
    }

    .titlecase1 {
      text-transform: capitalize;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        width: 250px;
        padding: 15px;
        border: none;
        border-bottom: 1px solid #a7bcff;
        outline: none;

        &:focus {
          background: #edf1ff;
        }

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        cursor: pointer;
        border: none;
        background-color: #406882;
        color: white;
        padding: 10px;
        font-weight: bold;
        transition: all 0.2s ease;
        border-radius: 4px;

        &:hover {
          background-color: #1e405a;
          color: white;
        }
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #7b96ec;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: #112432;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-image: url("../src/assets/img/fondo.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    width: 100%;
  }

  .container {
    border-radius: 10px;
    width: 75%;
    height: 85%;
    display: flex;
    overflow: hidden;
    box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 1px 2px 13px 3px rgba(0, 0, 0, 0.39);
    position: relative;

    @include minlaptop() {
      width: 90%;
    }
    @include tablet {
      width: 90%;
    }
    @include mobile {
      border-radius: 0px;
      width: 100%;
      height: 100%;
    }
  }

  .sidebar::-webkit-scrollbar {
    width: 7px;
    background-color: #112432;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #406882;
    border-radius: 5px;
  }

  .sidebar {
    flex: 1;
    background-color: #406882;
    position: relative;
    overflow: auto;

    @include mobile {
      flex: 2;
    }

    @include mintablet {
      overflow-x: hidden;
    }

    .chats {
      position: relative;

      .close {
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: #112432;
        }
      }

      .button {
        position: fixed;
        bottom: 10%;
        left: 33%;

        @include mobile {
          margin-left: 10%;
          bottom: 4%;
        }

        @include mintablet {
          margin-right: 10px;
        }

        @include minlaptop {
          left: 25%;
        }
      }
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #112432;
      height: 50px;
      padding: 10px;
      color: #ddddf7;

      .iconoff {
        @include mobile {
          display: none;
        }
      }

      .iconoff2 {
        color: white;
        @include laptop {
          display: none;
        }
        @include mobile {
          display: block;
        }
      }

      .logo {
        font-weight: bold;
        font-size: 15px;
        margin-left: 5px;

        @include minlaptop {
          display: none;
        }
      }

      .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @include minlaptop {
          width: 100%;
          justify-content: space-between;
        }

        span {
          text-transform: capitalize;

          @include minlaptop {
            font-size: 14px;
          }
          @include tablet {
            font-size: 16px;
          }

          @include mobile {
            font-size: 13px;
            text-align: right;
            width: 65%;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background: #406882;
          border-radius: 5px;
          padding: 8px;
          transition: all 0.2s ease;
          font-size: 12px;
          font-weight: 500;

          @include tablet {
            z-index: 1;
            position: fixed;
            bottom: 11%;
            margin-left: 0.5rem;
          }

          @include mobile {
            bottom: 4%;
          }

          &:hover {
            background: white;
            color: #406882;
          }

          span {
            margin-right: 5px;

            @include tablet {
              font-size: 12px;
            }
          }

          svg {
            @include mobile {
              font-size: 20px;
              padding: 0;
              color: #406882;
              background: #fff;
              border-radius: 100%;
              padding: 4.5px;
            }
          }

          @include minlaptop {
            margin-right: 0;
            padding: 5px;
            font-size: 6px;

          }

          @include tablet {
            color: #406882;
            background: white;
          }

          @include mobile {
            border-radius: 100%;
            padding: 5px 5px;
            background: transparent;
            color: white;

            &:hover {
              background: transparent;
              color: #a7bcff;
            }
          }
        }
      }

      img {
        border-color: #ddddf7;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        object-fit: cover;

        @include tablet {
          height: 38px;
          width: 38px;
          margin-left: 5px;
        }
        @include mobile {
          height: 30px;
          width: 30px;
        }
      }

      button {
        border-color: #5d5b8d;
        color: #ddddf7;
        font-size: 10px;
        border: none;
        cursor: pointer;

        @include tablet {
          position: absolute;
          bottom: 10px;
        }
      }
    }

    .search {
      border-bottom: 3px solid rgb(205, 204, 228);

      .searchForm {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 40px;
        width: 100%;

        input {
          background-color: transparent;
          border: none;
          color: white;
          outline: none;
          width: 100%;
          height: 100%;
          padding-left: 15px;
          transition: background 0.2s ease;
          font-size: 14px;

          &:focus {
            background: #1a374d;
          }

          &::placeholder {
            color: lightgrey;
          }
        }
      }
    }

    .userChat {
      padding: 8px 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      cursor: pointer;
      margin-bottom: 5px;

      &:hover {
        background-color: #1e405a;
      }

      img {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.43);
        -webkit-box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.43);
        -moz-box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.43);

        @include tablet {
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
        }
      }

      .userChatInfo {
        width: 100%;

        span {
          text-transform: capitalize;
          font-size: 15px;
          font-weight: 500;

          @include tablet {
            font-size: 13px;
          }
        }
        p {
          font-family: Arial, Helvetica, sans-serif;
          margin-top: 1px;
          font-size: 14px;
          color: lightgray;
        }
      }
    }
  }

  .chat {
    flex: 2;

    .chatInfo {
      height: 50px;
      background-color: #1e405a;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      color: rgb(243, 243, 243);

      .open {
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: #a7bcff;
        }
      }

      span {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 10px;
        text-transform: capitalize;

        @include tablet {
          font-size: 16px;
        }

        @include mobile {
          font-size: 13px;
        }
      }
    }

    .chatIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-right: 16px;

      @include mobile {
        margin-right: 7px;
      }

      svg {
        width: 22px;
        cursor: pointer;

        &:hover {
          color: #8da4f1;
        }

        @include mobile {
          width: 24px;
        }
      }

      .iconoff {
        @include mobile {
          display: none;
        }
      }
    }
    .messages::-webkit-scrollbar {
      width: 7px;
      background-color: #1e405a;
    }

    .messages::-webkit-scrollbar-thumb {
      background-color: #406882;
      border-radius: 5px;
    }
    .messages {
      background: rgb(205, 204, 228);
      background: linear-gradient(
        360deg,
        rgba(205, 204, 228, 1) 0%,
        rgba(221, 221, 247, 1) 3%
      );
      margin-bottom: 0px;
      padding: 10px;
      height: calc(100% - 160px);
      overflow: scroll;
      overflow-x: hidden;

      @include mobile {
        height: calc(100% - 134px);
      }

      .message {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .messageInfo {
          display: flex;
          flex-direction: column;
          color: gray;
          font-weight: 300;

          .time{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .day{

              font-style: italic;
            }

            span {
              font-size: 12px;
  
              @include mobile {
                font-size: 10px;
              }
          }

          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;

            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
        }
        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            font-family: Arial, Helvetica, sans-serif;
            background-color: white;
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
            font-size: 14px;

            @include mobile {
              font-size: 11px;
              padding: 10px;
            }
          }

          img {
            width: 50%;
            border-radius: 7px 0px 7px 7px;
          }
        }

        &.owner {
          flex-direction: row-reverse;

          .messageContent {
            align-items: flex-end;
            p {
              font-size: 14px;
              background-color: #406882;
              color: white;
              border-radius: 10px 0px 10px 10px;
              @include mobile {
                font-size: 11px;
              }
            }
          }
        }
      }
    }

    .input {
      height: 50px;
      background-color: white;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        padding: 0;
        height: 44px;
      }
      input {
        width: 100%;
        border: none;
        outline: none;
        color: #1a374d;
        font-size: 18px;

        &::placeholder {
          color: lightgray;
        }

        @include mobile {
          font-size: 15px;
          margin-left: 10px;
        }
      }

      .send {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include mobile {
          gap: 16px;
        }

        .iconoff {
          @include mobile {
            display: none;
          }
        }

        .iconoff2 {
          display: none;

          color: white;
          @include laptop {
            display: none;
          }
          @include mobile {
            display: block;
          }
        }

        svg {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 24px;
          cursor: pointer;
          color: #7b96ec;

          &:hover {
            color: #1e405a;
          }

          @include mobile {
            width: 18px;
          }
        }

        button {
          border: none;
          padding: 10px 15px;
          color: white;
          background-color: #1e405a;
          border-radius: 0px 0px 5px 0px;
          cursor: pointer;

          &:hover {
            background-color: #8da4f1;
            color: #1e405a;
          }

          @include mobile {
            border-radius: 0;
          }
        }
      }
    }
  }
}
